## Case of study ##

* Reading data from TXT file
* Adding data into TXT file
* Creating Json file
* Adding data into Json file

Hypothetical Subject: Readers, Books and Books'Categories

In [14]:
import os
import numpy as np
import pandas as pd

### Writing into TXT File

Creating a dictionary of new data to insert into a TXT file

In [15]:
dic_newdata = {'Readers':['Enzo', 'Emma', 'Eric', 'Bruno', 'Erika', 'Ricardo'],
             'Books':['Livro AB', 'Livro BC', 'Livro BC', 'Livro I', 'Livro J', 'Livro K'],
             'Categories':['Fantasia', 'Infantil', 'Infantil', 'Saúde', 'Pais e Filhos', 'Jogos']}

#Reading the result of the dictionary
print(dic_newdata)

{'Readers': ['Enzo', 'Emma', 'Eric', 'Bruno', 'Erika', 'Ricardo'], 'Books': ['Livro AB', 'Livro BC', 'Livro BC', 'Livro I', 'Livro J', 'Livro K'], 'Categories': ['Fantasia', 'Infantil', 'Infantil', 'Saúde', 'Pais e Filhos', 'Jogos']}

Creating a dataframe from a dictionary

In [16]:
df_newdata = pd.DataFrame(dic_newdata)

#Reading the result of the dataframe
print(df_newdata)

   Readers     Books     Categories
0     Enzo  Livro AB       Fantasia
1     Emma  Livro BC       Infantil
2     Eric  Livro BC       Infantil
3    Bruno   Livro I          Saúde
4    Erika   Livro J  Pais e Filhos
5  Ricardo   Livro K          Jogos

Adding new data into TXT File based in dataframe

In [17]:
file = open("files/Estudantes.txt", "a")
for index, row in df_newdata.iterrows():
    file.write("'" + row['Readers'] + "','" + row['Books'] + "','" + row['Categories'] + "'")
    file.write("\n")
    print("'" + row['Readers'] + "','" + row['Books'] + "','" + row['Categories'] + "'")
file.close()

'Enzo','Livro AB','Fantasia'
'Emma','Livro BC','Infantil'
'Eric','Livro BC','Infantil'
'Bruno','Livro I','Saúde'
'Erika','Livro J','Pais e Filhos'
'Ricardo','Livro K','Jogos'

### Reading TXT file

Creating lists based on reading TXT data file:

In [18]:
file = open("files/Estudantes.txt", "r")
data_file = file.readlines()
file.close()
list_readers = []
list_books = []
list_categories = []

for row in data_file:
    count_rows = 0
    for row_in in row.split(','):
        
        #count each word of a row
        count_rows = count_rows + 1
        
        #verifies if it is the first, second or third column to insert data into each list
        if count_rows == 1:
            list_readers.append(row_in.replace("'", "").replace("\n", ""))
        elif count_rows == 2:
            list_books.append(row_in.replace("'", "").replace("\n", ""))
        elif count_rows == 3:
            list_categories.append(row_in.replace("'", "").replace("\n", ""))
            
print(list_readers)
print(list_books)
print(list_categories)

['Maria', 'Maria', 'José', 'José', 'José', 'Chico', 'Chico', 'Pedro', 'Paulo', 'Paulo', 'Paula', 'Paula', 'Paula', 'Paula', 'Flor', 'Flor', 'Flor', 'Linda', 'Linda', 'Linda', 'Paulina', 'Paulina', 'Paulina', 'Mariazinha', 'Mariazinha', 'Josezinho', 'Josezinho', 'Josezinho', 'Chiconildo', 'Chiconildo', 'Pedronildo', 'Paulozildo', 'Paulozildo', 'Paulazina', 'Paulazina', 'Paulazina', 'Paulazina', 'Florinda', 'Florinda', 'Florinda', 'Lindanina', 'Lindanina', 'Lindanina', 'Paulita', 'Paulita', 'Paulita', 'Enzo', 'Emma', 'Eric', 'Bruno', 'Erika', 'Ricardo']
['Livro A', 'Livro B', 'Livro C', 'Livro D', 'Livro E', 'Livro D', 'Livro E', 'Livro F', 'Livro G', 'Livro H', 'Livro C', 'Livro F', 'Livro G', 'Livro H', 'Livro A', 'Livro B', 'Livro E', 'Livro A', 'Livro B', 'Livro C', 'Livro C', 'Livro H', 'Livro F', 'Livro A', 'Livro B', 'Livro C', 'Livro D', 'Livro E', 'Livro D', 'Livro E', 'Livro F', 'Livro G', 'Livro H', 'Livro C', 'Livro F', 'Livro G', 'Livro H', 'Livro A', 'Livro B', 'Livro E', 'Livro A', 'Livro B', 'Livro C', 'Livro C', 'Livro H', 'Livro F', 'Livro AB', 'Livro BC', 'Livro BC', 'Livro I', 'Livro J', 'Livro K']
['Romance', 'Romance', 'Comedia', 'Crime', 'Crime', 'Crime', 'Crime', 'Técnico', 'Técnico', 'Técnico', 'Comedia', 'Técnico', 'Técnico', 'Técnico', 'Romance', 'Romance', 'Crime', 'Romance', 'Romance', 'Comedia', 'Comedia', 'Comedia', 'Técnico', 'Romance', 'Romance', 'Comedia', 'Crime', 'Crime', 'Crime', 'Crime', 'Técnico', 'Técnico', 'Técnico', 'Comedia', 'Técnico', 'Técnico', 'Técnico', 'Romance', 'Romance', 'Crime', 'Romance', 'Romance', 'Comedia', 'Comedia', 'Comedia', 'Técnico', 'Fantasia', 'Infantil', 'Infantil', 'Saúde', 'Pais e Filhos', 'Jogos']

Creating a dictionary using the lists created

In [19]:
dic_readers = {'Readers': list_readers,
               'Books': list_books,
               'Categories': list_categories
              }
print(dic_readers)

{'Readers': ['Maria', 'Maria', 'José', 'José', 'José', 'Chico', 'Chico', 'Pedro', 'Paulo', 'Paulo', 'Paula', 'Paula', 'Paula', 'Paula', 'Flor', 'Flor', 'Flor', 'Linda', 'Linda', 'Linda', 'Paulina', 'Paulina', 'Paulina', 'Mariazinha', 'Mariazinha', 'Josezinho', 'Josezinho', 'Josezinho', 'Chiconildo', 'Chiconildo', 'Pedronildo', 'Paulozildo', 'Paulozildo', 'Paulazina', 'Paulazina', 'Paulazina', 'Paulazina', 'Florinda', 'Florinda', 'Florinda', 'Lindanina', 'Lindanina', 'Lindanina', 'Paulita', 'Paulita', 'Paulita', 'Enzo', 'Emma', 'Eric', 'Bruno', 'Erika', 'Ricardo'], 'Books': ['Livro A', 'Livro B', 'Livro C', 'Livro D', 'Livro E', 'Livro D', 'Livro E', 'Livro F', 'Livro G', 'Livro H', 'Livro C', 'Livro F', 'Livro G', 'Livro H', 'Livro A', 'Livro B', 'Livro E', 'Livro A', 'Livro B', 'Livro C', 'Livro C', 'Livro H', 'Livro F', 'Livro A', 'Livro B', 'Livro C', 'Livro D', 'Livro E', 'Livro D', 'Livro E', 'Livro F', 'Livro G', 'Livro H', 'Livro C', 'Livro F', 'Livro G', 'Livro H', 'Livro A', 'Livro B', 'Livro E', 'Livro A', 'Livro B', 'Livro C', 'Livro C', 'Livro H', 'Livro F', 'Livro AB', 'Livro BC', 'Livro BC', 'Livro I', 'Livro J', 'Livro K'], 'Categories': ['Romance', 'Romance', 'Comedia', 'Crime', 'Crime', 'Crime', 'Crime', 'Técnico', 'Técnico', 'Técnico', 'Comedia', 'Técnico', 'Técnico', 'Técnico', 'Romance', 'Romance', 'Crime', 'Romance', 'Romance', 'Comedia', 'Comedia', 'Comedia', 'Técnico', 'Romance', 'Romance', 'Comedia', 'Crime', 'Crime', 'Crime', 'Crime', 'Técnico', 'Técnico', 'Técnico', 'Comedia', 'Técnico', 'Técnico', 'Técnico', 'Romance', 'Romance', 'Crime', 'Romance', 'Romance', 'Comedia', 'Comedia', 'Comedia', 'Técnico', 'Fantasia', 'Infantil', 'Infantil', 'Saúde', 'Pais e Filhos', 'Jogos']}

Creating dataframe based on the dictionary

In [20]:
df_Readers = pd.DataFrame(dic_readers)
df_Readers_sorted = df_Readers.sort_values(['Readers'], ascending=[True])
print(df_Readers_sorted)

       Readers     Books     Categories
49       Bruno   Livro I          Saúde
5        Chico   Livro D          Crime
6        Chico   Livro E          Crime
28  Chiconildo   Livro D          Crime
29  Chiconildo   Livro E          Crime
47        Emma  Livro BC       Infantil
46        Enzo  Livro AB       Fantasia
48        Eric  Livro BC       Infantil
50       Erika   Livro J  Pais e Filhos
16        Flor   Livro E          Crime
14        Flor   Livro A        Romance
15        Flor   Livro B        Romance
39    Florinda   Livro E          Crime
37    Florinda   Livro A        Romance
38    Florinda   Livro B        Romance
27   Josezinho   Livro E          Crime
25   Josezinho   Livro C        Comedia
26   Josezinho   Livro D          Crime
4         José   Livro E          Crime
3         José   Livro D          Crime
2         José   Livro C        Comedia
17       Linda   Livro A        Romance
18       Linda   Livro B        Romance
19       Linda   Livro C        Comedia
41   Lindanina   Livro B        Romance
42   Lindanina   Livro C        Comedia
40   Lindanina   Livro A        Romance
0        Maria   Livro A        Romance
1        Maria   Livro B        Romance
23  Mariazinha   Livro A        Romance
24  Mariazinha   Livro B        Romance
10       Paula   Livro C        Comedia
11       Paula   Livro F        Técnico
12       Paula   Livro G        Técnico
13       Paula   Livro H        Técnico
35   Paulazina   Livro G        Técnico
36   Paulazina   Livro H        Técnico
33   Paulazina   Livro C        Comedia
34   Paulazina   Livro F        Técnico
21     Paulina   Livro H        Comedia
20     Paulina   Livro C        Comedia
22     Paulina   Livro F        Técnico
45     Paulita   Livro F        Técnico
44     Paulita   Livro H        Comedia
43     Paulita   Livro C        Comedia
9        Paulo   Livro H        Técnico
8        Paulo   Livro G        Técnico
31  Paulozildo   Livro G        Técnico
32  Paulozildo   Livro H        Técnico
7        Pedro   Livro F        Técnico
30  Pedronildo   Livro F        Técnico
51     Ricardo   Livro K          Jogos

### Exporting data as a JSON File

In [21]:
df_Readers_sorted

       Readers     Books     Categories
49       Bruno   Livro I          Saúde
5        Chico   Livro D          Crime
6        Chico   Livro E          Crime
28  Chiconildo   Livro D          Crime
29  Chiconildo   Livro E          Crime
47        Emma  Livro BC       Infantil
46        Enzo  Livro AB       Fantasia
48        Eric  Livro BC       Infantil
50       Erika   Livro J  Pais e Filhos
16        Flor   Livro E          Crime
14        Flor   Livro A        Romance
15        Flor   Livro B        Romance
39    Florinda   Livro E          Crime
37    Florinda   Livro A        Romance
38    Florinda   Livro B        Romance
27   Josezinho   Livro E          Crime
25   Josezinho   Livro C        Comedia
26   Josezinho   Livro D          Crime
4         José   Livro E          Crime
3         José   Livro D          Crime
2         José   Livro C        Comedia
17       Linda   Livro A        Romance
18       Linda   Livro B        Romance
19       Linda   Livro C        Comedia
41   Lindanina   Livro B        Romance
42   Lindanina   Livro C        Comedia
40   Lindanina   Livro A        Romance
0        Maria   Livro A        Romance
1        Maria   Livro B        Romance
23  Mariazinha   Livro A        Romance
24  Mariazinha   Livro B        Romance
10       Paula   Livro C        Comedia
11       Paula   Livro F        Técnico
12       Paula   Livro G        Técnico
13       Paula   Livro H        Técnico
35   Paulazina   Livro G        Técnico
36   Paulazina   Livro H        Técnico
33   Paulazina   Livro C        Comedia
34   Paulazina   Livro F        Técnico
21     Paulina   Livro H        Comedia
20     Paulina   Livro C        Comedia
22     Paulina   Livro F        Técnico
45     Paulita   Livro F        Técnico
44     Paulita   Livro H        Comedia
43     Paulita   Livro C        Comedia
9        Paulo   Livro H        Técnico
8        Paulo   Livro G        Técnico
31  Paulozildo   Livro G        Técnico
32  Paulozildo   Livro H        Técnico
7        Pedro   Livro F        Técnico
30  Pedronildo   Livro F        Técnico
51     Ricardo   Livro K          Jogos

Creating dictionary with values to create a json file:

In [22]:
dicReaders = {}
dicBooks = {}

# Create a list of Readers
distinctReaders = sorted(set(list(df_Readers_sorted.Readers)))

#iterate each reader's row to create a view for each value of the dataframe 
for each_reader in distinctReaders:
    
    #iterate each row of the dataframe
    for index, row in df_Readers.iterrows():
                
        # if the reader's row is the same, append new data into dictionary
        if (row['Readers'] == each_reader):
            
            #Create a dictionary with book:category
            dicBooks[row['Books']] = row['Categories']
            #print("Livros", dicBooks)
            
            #Create a dictionary considering the reader
            dicReaders[row['Readers']] = dicBooks    
            #print("-------TUDO -------" , dicReaders)
                          
        # if the reader's row is not the same, cleans the book dictionary
        if (row['Readers'] != each_reader):
            dicBooks = {}
       
    
    
#dictionary result
print("Dicionario ", dicReaders)

Dicionario  {'Bruno': {'Livro I': 'Saúde'}, 'Chico': {'Livro D': 'Crime', 'Livro E': 'Crime'}, 'Chiconildo': {'Livro D': 'Crime', 'Livro E': 'Crime'}, 'Emma': {'Livro BC': 'Infantil'}, 'Enzo': {'Livro AB': 'Fantasia'}, 'Eric': {'Livro BC': 'Infantil'}, 'Erika': {'Livro J': 'Pais e Filhos'}, 'Flor': {'Livro A': 'Romance', 'Livro B': 'Romance', 'Livro E': 'Crime'}, 'Florinda': {'Livro A': 'Romance', 'Livro B': 'Romance', 'Livro E': 'Crime'}, 'Josezinho': {'Livro C': 'Comedia', 'Livro D': 'Crime', 'Livro E': 'Crime'}, 'José': {'Livro C': 'Comedia', 'Livro D': 'Crime', 'Livro E': 'Crime'}, 'Linda': {'Livro A': 'Romance', 'Livro B': 'Romance', 'Livro C': 'Comedia'}, 'Lindanina': {'Livro A': 'Romance', 'Livro B': 'Romance', 'Livro C': 'Comedia'}, 'Maria': {'Livro A': 'Romance', 'Livro B': 'Romance'}, 'Mariazinha': {'Livro A': 'Romance', 'Livro B': 'Romance'}, 'Paula': {'Livro C': 'Comedia', 'Livro F': 'Técnico', 'Livro G': 'Técnico', 'Livro H': 'Técnico'}, 'Paulazina': {'Livro C': 'Comedia', 'Livro F': 'Técnico', 'Livro G': 'Técnico', 'Livro H': 'Técnico'}, 'Paulina': {'Livro C': 'Comedia', 'Livro H': 'Comedia', 'Livro F': 'Técnico'}, 'Paulita': {'Livro C': 'Comedia', 'Livro H': 'Comedia', 'Livro F': 'Técnico'}, 'Paulo': {'Livro G': 'Técnico', 'Livro H': 'Técnico'}, 'Paulozildo': {'Livro G': 'Técnico', 'Livro H': 'Técnico'}, 'Pedro': {'Livro F': 'Técnico'}, 'Pedronildo': {'Livro F': 'Técnico'}, 'Ricardo': {'Livro K': 'Jogos'}}

In [23]:
#function with JSON
def export_json(v_filename):
    
    for x in dicReaders:
        file = open(v_filename, "a")
        file.write("{'" + str(x) + "':" + str(dicReaders[x]) + "}")
        file.write("\n")
        #print(dicReaders)
        file.close()

In [24]:
#Exporta dados para arquivo json
export_json("files/Export_Estudantes.json")

### Adding data into JSON File

In [25]:
dic_newdata1 = {'Carol': {'Livro T':"Comédia",'Livro V':"Poesia"}}

#Reading the result of the dictionary
print(dic_newdata1)

{'Carol': {'Livro T': 'Comédia', 'Livro V': 'Poesia'}}

In [26]:
file = open("files/Export_Estudantes.json", "a")
file.write(str(dic_newdata1))
file.write("\n")
file.close()

### <a href=https://www.linkedin.com/in/jmilhomem/>br.linkedin.com/in/jmilhomem</a> ###